@media print {
    body * {
      visibility: hidden;
    }
    .printable, .printable * {
      visibility: visible;
    }
    .printable {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .dataform{
      margin-top: -200px;
    }
  }


  .blurred {
    filter: blur(5px);
  }
  
 